@import "settings";
@import "foundation";

@import "partials/fonts";

p#result {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#requested-amount {
  line-height: 1.5;
  color: gray;
  font-style: bold;
  font-size: 22px;
}

.fi-pound.style-medium {
  font-size: 28px;
  color: red;
}

.fi-refresh.style-medium {
  font-size: 22px;
  color: yellow;
}

.alert-box {
  margin: 2rem 0;
}

button.tiny.submit-btn {
  font-size: 0.875rem;
  margin-top: 0.9rem;
}
// Add some styling for hovering on desktop menu
.top-bar-section a#coiny, a#about {
  color: white;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.top-bar-section a#coiny:hover, a#about:hover {
  // color: red;
  background: #56544F;
  border-radius: 15px;
  color: yellow;
  text-shadow: -1px 1px 5px #03c, 1px -1px 5px #03c;
}
