<h1>Coiny</h1>

<p id='about'>Coiny is a demonstration of the following technologies:</p>
<ul>
  <li>Sinatra (Modular Application)</li>
  <li>HTMl5</li>
  <li>CSS3</li>
  <li>jQuery</li>
  <li>Foundation 5 <span>by Zurb</span></li>
</ul>
<p>Author: Digital-Learner</p>
