<form action='/calculate' method='post'>
  <label for='pennies'>Amount in pennies</label>
  <input type='text' id='pennies' name='pennies' placeholder='Enter amount in pennies .. ' maxlength='10'/>
  <input type='submit' value='Calculate'/>
</form>
