<div class="large-12 columns" id="main-h1-heading">
  <h1>A simple Coin Calculator</h1>
</div>
<form action='/calculate' method='post'>
  <div class="large-3 medium-3 columns">
    <label for='amount'>Amount</label>
    <input type='text' id='amount' name='amount' placeholder='Enter amount .. ' maxlength='10'/>
  </div>
  <div class="large-6 medium-6 columns">
    <input type='submit' value='Calculate' class="button small"/>
  </div>
</form>
