<!doctype html>
<html lang="en">
<head>
  <title>UK Coin Calculator</title>
  <meta charset="utf-8">
</head>
<body>
  <h1>A simple Coin Calculator</h1>

  <img id='main-img' src='/images/2013-Underground.jpeg' alt='2013 Underground 2 pound coin'>

  <%= yield %>
</body>
</html>
