<p id='result'>Here is the minimum number of coins for your request of <%= @pennies %> pence.</p>

<table>
  <thead>
    <th>Denomination</th>
    <th>Description</th>
    <th>Quantity</th>
  </thead>
  <tbody>
  </tbody>
</table>
