<p id='result'>Here is the minimum number of coins for your request of <span id='requested-amount'><%= @amount %></span> pence.</p>

<%= erb '_tabular_results'.to_sym %>

<%= erb '_thumbnail_results'.to_sym %>
